.newspage-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 0px 2vh;
    border-top: 1px solid #EEEEEE;
}

.item-container {
    margin: 20px 0px;
}

.item-title {
    font-size: 20px;
    font-weight: bold;
}

.newspage-header {
    padding: 20px 0px 0px 0px;
}