.newsbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: center;
    justify-content: space-between;
}

.newsbox-a {
    text-decoration: none;
}

.newsbox-items {
    padding: 12px 0px;
    width: 340px;
    text-align: left;
}

.newsbox-thumbnail {
    margin: 0px 0px 5px 0px;
    border-radius: 4px;
}

.newsbox-title {
    font-size: 15px;
    font-weight: 500;
    color: #292929;
}

.newsbox-publisher {
    font-size: 12px;
    color: #9f9f9f;
}
