.newsdetail-container {
    background-color: #F5F5F5;
    padding: 20px 2vh;
    border-top: 1px solid #EEEEEE;
}

.newsdetail-title {
    font-size: 24px;
    font-weight: bold;
    color: #292929;
    margin: 0px 0px 20px 0px;
}

.newsdetail-publisherInfo {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.newsdetail-publisherIcon {
    border-radius: 50%;
}

.newsdetail-publisher {
    font-size: 15px;
    font-weight: 500;
    color: #292929;
    margin: 0px 10px;
}

.newsdetail-publishTimeAuthor {
    font-size: 12px;
    color: #9F9F9F;
    margin: 0px 10px;
}

figcaption {
    font-size: 13px;
    color: #808080;
}
