.App {
  background-color: #ffffff;
  max-width: 770px;
  padding: 10px 0px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line-today-logo {
  padding: 10px 20px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.bookmarks-link {
    padding: 10px 20px;
    font-weight: 500;
    color: #9F9F9F;
    text-decoration: none;
}

/* visited link */
.bookmarks-link:visited {
    text-decoration: none;
}

/* mouse over link */
.bookmarks-link:hover {
    color: #292929;
}

/* selected link */
.bookmarks-link:active {
    text-decoration: none;
}